@use "../../../Styles/mixins"; 



.login-form{
    margin: 5rem 22rem 0 22rem;
    @include mixins.respond (phone){
        margin:4rem ;
 
 }

}
.form-check{
    padding-top: 2rem;
    margin-bottom: 2rem;

}
.login-form{
    padding: 0 1rem;
}
.info{
    margin-bottom: 2rem;
}
.login-btn{
    margin-bottom: 2rem;
    background-color:#e32207;;
    border: none;
    box-shadow: 2px 2px 2px #e32207;;
    padding: 0.4rem 2rem;
    border-radius:5px;
    border: 1px solid #e32207

}
.form-check-input:checked {
    background-color: #e32207;;
    border-color: #e32207;;
    box-shadow: none;
}
.form-control:focus {
    box-shadow: none;
  }
  .slogan{
      background-color:#e32207;;
      text-align: center;
      color:white;
      margin: -1.2rem 18rem 0rem;
      padding:0.5rem 0;
      border-radius:2rem;
      @include mixins.respond (phone){
        margin:-1.2rem 2rem 0rem 2rem ;
 
 }

  }
  .form-group{
    @include mixins.respond (phone){
     margin-bottom: 0.5rem;
 
 }

  }
  input{
    box-shadow:2px 2px 2px black;
}