<form class="question">
  <div class="form-group question__body">
    <label for="question">Question</label>
    <input type="text" class="form-control" id="question" placeholder="Enter Question" />
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
        <label class="form-check-label" for="exampleRadios2"> 
    <input type="text" class="form-control" id="answerA" placeholder="Answer A" />
            
        </label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
        <label class="form-check-label" for="exampleRadios2"> 
            <input type="text" class="form-control" id="answerA" placeholder="Answer B" />
        </label>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
        <label class="form-check-label" for="exampleRadios2">
            <input type="text" class="form-control" id="answerA" placeholder="Answer C" />
        </label>
      </div>
    </div>
    <div class="col-6">
      <div class="form-check">
        <input class="form-check-input" type="radio" name="exampleRadios" id="exampleRadios2" value="option2" />
        <label class="form-check-label" for="exampleRadios2">
            <input type="text" class="form-control" id="answerA" placeholder="Answer D" /> 
            
        </label>
      </div>
    </div>
  </div>
</form>
